#!/bin/sh

export CLOOG=/home/grosser/usr/install/cloog-ppl-0.15
export PPL=/home/grosser/usr/install/ppl 
export MPFR=/opt/cfarm/mpfr-2.3.2/
export LD_LIBRARY_PATH=${CLOOG}/lib:${PPL}/lib:${MPFR}/lib
export EMAIL="gcc-testresults@gcc.gnu.org"
export EMAIL_REALNAME="Graphite SVN tester"
export EMAIL_FROM="gcc-graphite@googlegroups.com"
export BASE_DIR='/n/16/grosser/daily_builds'
export EXTRA_TEST_DIR='/home/grosser/daily_tests'
export SRC_DIR=${BASE_DIR}/src
export OBJ_DIR=${BASE_DIR}/obj
export LOG_DIR=${BASE_DIR}/log
export INSTALL_DIR=${BASE_DIR}/install
export CFLAGS="-g"
export JMAKE=8
#export ENABLE_LANGUAGES="--enable-languages=c,c++,fortran,objc,obj-c++,java"
export ENABLE_LANGUAGES=""
export BOOTSTRAP_FLAG="--enable-bootstrap"
export MAKE=make
export RUN_GCC_TESTS=1
export RUN_EXTRA_TESTS=1
export GIT_WEB_REPOSITORY=http://gitorious.org/~graphite-tester/graphite/graphite-test-results/commits/
